################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/aa/v15
/ConsoleApp1/bin/Debug/netcoreapp2.0
/ConsoleApp1/obj
